<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>commerce-oauth-redirect</title>
  <!-- importante que se llame asi por React Native -->
</head>

<body>
  <h1>Redirected</h1>
</body>
