<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>pay</title>
  <!-- importante que se llame asi por React Native -->
</head>

<body>
  <a id="a1" href="<%= init_point %>"></a>
  <script>
    document.getElementById('a1').click();
  </script>
</body>
