<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>payment-failure</title>
  <!-- importante que se llame asi por React Native -->
</head>

<body>
  <h1>Transaction Failed</h1>
</body>
