<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>daily-reservations-chart</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body style="margin: 0;">
  <div id="chart"></div>
  <p id='title' style="display: none;"></p>
  <p id='data' style="display: none;"></p>
  <p id='height' style="display: none;"></p>

  <!-- Datos para prueba en el navegador -->
  <!-- <p id='height' style="display: none;">700</p> -->
  <!-- <p id='title' style="display: none;">Cantidad de Turnos Reservados vs Cancelados</p> -->
  <!-- <p id='data' style="display: none;">{"labels":["Reservados", "Cancelados"],"data":[45, 6]}</p> -->

  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    // google.charts.setOnLoadCallback(drawChart); // solo para el navegador

    function drawChart() {
      var chartData = JSON.parse(document.getElementById('data').innerHTML);

      var dataArray = [['Estado', 'Cantidad']];

      for (var i = 0; i < chartData.data.length; i++) {
        dataArray.push([chartData.labels[i], chartData.data[i]]);
      }

      var data = google.visualization.arrayToDataTable(dataArray);

      var options = {
        title: document.getElementById('title').innerHTML,
        width: '100%',
        height: parseInt(document.getElementById('height').innerHTML),
        legend: { position: 'bottom' },
        chartArea: {
          left: '16%',
          right: '10%',
          bottom: '15%',
          top: '16%'
        },
        is3D: true,
        pieSliceText: 'value-and-percentage',
        slices: {
          0: { color: '#c72c41' },
          1: { offset: 0.2, color: '#e895a0' },
        },
      };

      var chart = new google.visualization.PieChart(document.getElementById('chart'));
      chart.draw(data, options);
    }
  </script>
</body>