<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>daily-reservations-chart</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body style="margin: 0;">
  <div id="chart"></div>
  <p id='title' style="display: none;"></p>
  <p id='data' style="display: none;"></p>
  <p id='height' style="display: none;"></p>
  <div id="chart-for-pdf" style="visibility: hidden; position: absolute; top: -9999px; left: -9999px;"></div>

  <!-- Datos para prueba en el navegador -->
  <!-- <p id='height' style="display: none;">700</p> -->
  <!-- <p id='title' style="display: none;">Cantidad de Turnos Reservados vs Cancelados</p> -->
  <!-- <p id='data' style="display: none;">{"labels":["Reservados", "Cancelados"],"data":[45, 7]}</p> -->

  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    // google.charts.setOnLoadCallback(drawChart); // solo para el navegador

    function drawChart() {
      var chartData = JSON.parse(document.getElementById('data').innerHTML);

      var dataArray = [['Estado', 'Cantidad']];

      for (var i = 0; i < chartData.data.length; i++) {
        dataArray.push([chartData.labels[i], chartData.data[i]]);
      }

      var data = google.visualization.arrayToDataTable(dataArray);

      var optionsPDF = {
        title: document.getElementById('title').innerHTML,
        titleTextStyle: {
          fontSize: 20
        },
        height: 1350,
        width: 900,
        legend: { position: 'bottom' },
        chartArea: {
          left: '19%',
          right: '15%',
          bottom: '15%',
          top: '14%'
        },
        is3D: true,
        pieSliceText: 'value-and-percentage',
        slices: {
          0: { color: '#c72c41' },
          1: { color: '#e895a0' },
        },
      };

      var optionsPhone = {
        ...optionsPDF,
        titleTextStyle: {
          fontSize: 12
        },
        width: '100%',
        height: parseInt(document.getElementById('height').innerHTML),
        chartArea: {
          ...optionsPDF.chartArea,
          left: '15%'
        },
      };

      var chartForPDF = new google.visualization.PieChart(document.getElementById('chart-for-pdf'))
      var chart = new google.visualization.PieChart(document.getElementById('chart'));

      google.visualization.events.addListener(chartForPDF, 'ready', function () {
        document.getElementById('chart-for-pdf').innerHTML = '<img src="' + chartForPDF.getImageURI() + '">';
        window.ReactNativeWebView.postMessage(document.getElementById('chart-for-pdf').innerHTML.toString());
      });

      chartForPDF.draw(data, optionsPDF);
      chart.draw(data, optionsPhone);
    }
  </script>
</body>